<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='main.js')}}" type="module"></script>
</head>
<body>
    {% if g.user%}
    <header>
        <a href="{{url_for('index')}}">main&#9662;</a>
        <button id="save">save all</button>
        <nav>
        <a href="">new page</a>
        <a href="{{url_for('logout')}}">logout</a>
        </nav>
    </header>
    {% endif %}

    {% block main_content %}
    {% endblock %}
    
    <footer>

    </footer>
</body>
</html>